<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @request.url %>
</p>

<p>
  <strong>Check:</strong>
  <%= @request.check %>
</p>

<p>
  <strong>Send number:</strong>
  <%= @request.send_number %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
